/*
 * SPDX-License-Identifier: Apache-2.0
 */

/* Choose CDC ACM for console */
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

/* Configure CDC ACM */
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
