#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Zephyr"
    source "Kconfig.zephyr"
endmenu

menu "Custom drivers"
    rsource "drivers/Kconfig"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
